<div class="recipe-select">
    <div ng-if="RecipeSelectController.selectedRecipes[0]"> <!-- Recipe selected -->
        <cl-image width="100%" public-id="{{RecipeSelectController.selectedRecipes[0]._thumbnailImage.imageId}}"
                  format="{{RecipeSelectController.selectedRecipes[0]._thumbnailImage.format}}" alt="{{RecipeSelectController.selectedRecipes[0].title}}">
            <cl-transformation height="200" width="200" crop="fill" gravity="north"/>
        </cl-image>
        <md-button class="md-icon-button md-primary md-raised"
                   ng-click="RecipeSelectController.openDialog()">
            <md-icon>add_circle</md-icon>
            <md-tooltip>Add Recipe</md-tooltip>
        </md-button>
    </div>
    <div ng-if="!RecipeSelectController.selectedRecipes[0]"> <!-- No recipe selected -->
        <md-button class="md-icon-button md-primary md-raised"
                   ng-click="RecipeSelectController.openDialog()">
            <md-icon>add</md-icon>
            <md-tooltip>Add Recipe</md-tooltip>
        </md-button>
    </div>
</div>